/*Note form page*/
.NoteForm {
	width: 40%;
}

.NoteForm Button {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.NoteFormCard {
	width: 100%;
	display: flex;
	flex-flow: column;
/*	align-items: center;
	justify-content: space-between;*/
}

.NoteFormCard p {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	align-self: center;
}

.NoteFormCard hr {
	height: 1px;
	background-color: #ff0055;
	width: 100%;
}

.FormGroup {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	/*width: 100%;*/
}

.Inputid {
	width: 500px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: left;
	margin: 0;
	font-size: 14px;
	height: 30px;
	border-radius: 3px;
	/*background-color: white;*/

}

.ButtonStyle {
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.Description {
	width: 500px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px 10px;

}

.Description:hover,
.Inputid:hover {
	border: 1px solid black;
	outline: none;
}

.Description:focus,
.Inputid:focus {
	border: 2px solid #3D1CC2;
	outline: none;
}
/*Index page*/
.Main {
	width: 100%;
	display: flex;
}

.Notes {
	width: 60%;
	padding: 10px;
}

.SharedNotes {
	margin-top: 40px;
	width: 40%;
}

h5 {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;

}

h3 {
	text-align: center;
	font-size: 25px;
	align-self: center;
	font-weight: bold;	
}
.Card {
	margin: 10px;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.actions {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.metainfo {
	height: 100%;
	width: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;	
}

@media (min-width: 320px){
	.Card {
		margin: 10px;
		height: auto;
		width: 100%;
		text-align: center;
	}

	.Notes , .NoteForm, .NoteFormCard hr{
		width: 95%;
	}

	.Inputid, .Description {
		width: 270px;
	}

	.actions {
		font-size: 12px;
		flex-direction: row;
	}
	.SharedNotes {
		display: none;
	}
}


@media (min-width: 375px){
	.Card {
		margin: 10px;
		/*width: 100%;*/
		height: auto;
		text-align: center;
	}

	.Notes , .NoteForm, .NoteFormCard{
		width: 95%;
	}
	.actions {
		flex-direction: row;
	}

	.SharedNotes {
		display: none;
	}

	.Inputid, .Description {
		width: 330px;
	}
}

@media (min-width: 414px){
	.Card {
		margin: 10px;
		/*width: 100%;*/
		height: auto;
		text-align: center;
	}
	.Notes, .NoteForm , .NoteFormCard{
		width: 95%;
	}
	.actions {
		flex-direction: row;
	}

	.Inputid, .Description {
		width: 350px;
	}
}

@media (min-width: 450px){
	.Card {
		margin: 10px;
		/*width: 30%;*/
		height: auto;
		text-align: center;
	}

	.actions {
		flex-direction: row;
		text-align: bottom;
	}

	.Notes {
		width: 80%;
	}

	.NoteForm , .NoteFormCard{
		width: 40%;
	}

	.SharedNotes {
		height: 10%;
		margin: 10px;
		margin-top: 60px;
		width: 20%;
		border-radius: 10px;
		padding: 20px;
		border: 1px solid black;
		display: block;
	}

	.Inputid, .Description {
		width: 500px;
	}
}